<section class="dark:bg-gray-900 w-full">
  <div class="flex flex-col items-center justify-center py-4 px-4">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          <%= t('devise.confirmations.resend_confirmation_instructions') %>
        </h1>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "application/error_messages", object: resource %>
          <div class="space-y-4 md:space-y-6">
            <div>
              <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>

            <div class="pt-4">
              <%= f.submit t('devise.confirmations.resend_confirmation_instructions'), class: "w-full btn btn-primary" %>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                <a href="<%= new_user_session_path %>"
                   class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                  <%= t('devise.confirmations.login_here') %></a> <%= t('devise.confirmations.or') %>
                <a href="<%= new_user_registration_path %>"
                   class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                  <%= t('devise.confirmations.sign_up_here') %></a>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%#= render "devise/shared/links" %>
