<% if @hack.hack_structured_info %>
  <div class="p-6 w-3/4 pt-4">
    <p class="font-bold">Extended Title</p>
    <p>
      <span><%= @hack.hack_structured_info.extended_title %>
        <span class="<%= class_for_boolean(hack.hack_validation.present? ? hack.hack_validation.status : hack.is_hack?) %> inline-block ml-2"><%= text_for_boolean(hack.hack_validation.present? ? hack.hack_validation.status : hack.is_hack?) %></span>
      </span>
    </p>

    <p class="font-bold mt-4">Description</p>
    <p class=""><%= raw(@markdown.render(@hack.hack_structured_info.description)) %></p>

    <p class="font-bold mt-4">Categories</p>
    <p><ul class="list-disc list-outside pl-5">
    <% @hack.hack_category_rels.each do |hack_category_rels| %>
      <li class="mb-2">
        <div class="inline-flex">
          <h5 class="font-semibold"><%= hack_category_rels.category.name %></h5>
          <div class="flex items-center py-0.5 ">
            <svg data-popover-target="category-info-<%= hack_category_rels.category.id %>" data-popover-placement="bottom"
                 class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
            </svg>
            <div data-popover id="category-info-<%= hack_category_rels.category.id %>" role="tooltip"
                 class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
              <div class="p-3 space-y-2">
                <p class="text-sm normal-case font-normal"><%= hack_category_rels.category.description %></p>
              </div>
              <div data-popper-arrow></div>
            </div>
          </div>
        </div>
        <p><%= hack_category_rels.justification %></p>
      </li>
    <% end %>
  </ul></p>

    <p class="font-bold mt-4">Main goal</p>
    <p><%= raw(@markdown.render(@hack.hack_structured_info.main_goal)) %></p>

    <p class="font-bold mt-4">Steps Summary</p>
    <p><%= raw(@markdown.render(@hack.hack_structured_info.steps_summary)) %></p>

    <p class="font-bold mt-4">Resources Needed</p>
    <p><%= raw(@markdown.render(@hack.hack_structured_info.resources_needed)) %></p>

    <p class="font-bold mt-4">Expected Benefits</p>
    <p><%= raw(@markdown.render(@hack.hack_structured_info.expected_benefits)) %></p>

    <p class="font-bold mt-4">Detailed Steps</p>
    <p><%= raw(@markdown.render(@hack.hack_structured_info.detailed_steps)) %></p>

    <p class="font-bold mt-4">Additional tools resources</p>
    <p><%= raw(@markdown.render(@hack.hack_structured_info.additional_tools_resources)) %></p>

    <p class="font-bold mt-4">Case Study</p>
    <p><%= raw(@markdown.render(@hack.hack_structured_info.case_study)) %></p>

  </div>
<% end %>