<div class="relative overflow-x-auto mb-8 ">
  <div class="flex items-center justify-between flex-column pl-6 flex-wrap md:flex-row md:space-y-0 bg-white dark:bg-gray-900">
    <div class="">
      <% breadcrumbs = [["Hacks", hacks_path]]%>
      <%= render partial: "layouts/breadcrumbs", locals: { breadcrumbs: breadcrumbs } %>
    </div>
    <div class="flex items-center justify-end flex-column flex-wrap md:flex-row md:space-y-0 bg-white dark:bg-gray-900">
      <div class="mr-4 mt-2 p-8">

      </div>   
    </div>
  </div>

  <div class="p-6">
    <div>
      <%= search_form_for @q, url: hacks_path, method: :get, id: "filtersForm" do |f| %>
        <div class="grid grid-cols-6 gap-4">
          <div class="flex flex-col gap-2">
            <div>
              <%= f.select :is_advice_eq,
                           options_for_select([["Only Hacks", false], ["Only Advices", true]], params.dig(:q, :is_advice_eq)),
                           { include_blank: "All Type" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>
            <div>
              <%= f.select :source_id_eq,
                           options_for_select(Source.pluck(:name, :id), params.dig(:q, :source_id_eq)),
                           { include_blank: "All Sources" },
                           class: "block bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>
          </div>

          <div class="flex flex-col gap-2">
            <div>
              <%= f.select :with_popularity,
                           options_for_select(Category.popularity_categories.pluck(:name, :id), params.dig(:q, :with_popularity)),
                           { include_blank: "All Popularity" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>

            <div>
              <%= f.select :with_financial_topic,
                           options_for_select(Category.financial_topic_categories.pluck(:name, :id), params.dig(:q, :with_financial_topic)),
                           { include_blank: "All Financial Topics" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>
          </div>

          <div class="flex flex-col gap-2">
            <div>
              <%= f.select :with_audience,
                           options_for_select(Category.audience_categories.pluck(:name, :id), params.dig(:q, :with_audience)),
                           { include_blank: "All Audiences" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>

            <div>
              <%= f.select :with_horizon,
                           options_for_select(Category.horizon_categories.pluck(:name, :id), params.dig(:q, :with_horizon)),
                           { include_blank: "All Time Horizon" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>
          </div>

          <div class="flex flex-col gap-2">
            <div>
              <%= f.select :with_risk,
                           options_for_select(Category.risk_categories.pluck(:name, :id), params.dig(:q, :with_risk)),
                           { include_blank: "All Risks" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>

            <div>
              <%= f.select :with_implementation,
                           options_for_select(Category.implementation_categories.pluck(:name, :id), params.dig(:q, :with_implementation)),
                           { include_blank: "All Implementations" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>

          </div>

          <div class="flex flex-col gap-2">
            <div>
              <%= f.select :with_financial,
                           options_for_select(Category.financial_categories.pluck(:name, :id), params.dig(:q, :with_financial)),
                           { include_blank: "All Financials" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>

            <div>
              <%= f.select :with_knowledge,
                           options_for_select(Category.knowledge_categories.pluck(:name, :id), params.dig(:q, :with_knowledge)),
                           { include_blank: "All Knowledge" },
                           class: "bg-gray-50 mt-2 border border-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>
          </div>


          <div class="flex flex-col gap-4">
            <div class="mt-2">
              <%= f.submit "Apply filters", class: "btn-sm btn-success text-white text-sm rounded" %>
            </div>
            <div class="mt-2">
              <button type="button" class="btn-sm btn-danger text-white text-sm rounded"
                      onclick="cleanFilters('filtersForm')">Clean filters
              </button>
            </div>

          </div>
        </div>
    <% end %>
   <div>
   </div>
    </div>
    <div class="flex justify-end pt-6">
      <nav class="flex gap-4 p-2 pl-6 px-4 items-center justify-end flex-column flex-wrap md:flex-row justify-between" aria-label="Table navigation">
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">
              <%= t("helpers.page.showing") %> <span class="font-semibold text-gray-900 dark:text-white"><%= "#{@pagy.from}-#{@pagy.to}" %></span> <%= t("helpers.page.of") %> <span class="font-semibold text-gray-900 dark:text-white"><%= @pagy.count %></span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 list-none">
          <li>
            <%= link_to t("helpers.page.previous"), hacks_path(params.to_unsafe_h.merge(page: @pagy.prev)),
                        {
                          disabled: @pagy.prev.blank?,
                          class: "flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        } %>
          </li>
          <% @pagy.series.each do |page| %>
            <li>
              <% if page.is_a?(Integer) %>
                <%= link_to page.to_s, hacks_path(params.to_unsafe_h.merge(page: page)),
                            class: "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
              <% else %>
                <span class="flex items-center justify-center px-3 h-8 text-gray-500">...</span>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to t("helpers.page.next"), hacks_path(params.to_unsafe_h.merge(page: @pagy.next)),
                        {
                          disabled: @pagy.next.blank?,
                          class: "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        } %>
          </li>
        </ul>

      </nav>

    </div>
    <div class="table-container">
    <table class="mt-2 w-full border border-gray-200 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 w-96">
          Title
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          Type
        </th>

        <th scope="col" class="px-0 py-3 text-center">
          Popularity
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          F. Topic
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          audience
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          horizon
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          risk
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          implementation
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          financial
        </th>
        <th scope="col" class="px-0 py-3 text-center">
          knowledge
        </th>
      </tr>
      </thead>
      <tbody>
      <% @hacks.each do |hack|%>
        <tr class="bg-white cursor-pointer border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            onclick="window.location='<%= hack_path(id: hack) %>'">
          <td class="flex flex-col w-full text-left text-gray-900 dark:text-white px-2 w-96">
            <div class="ps-4 px-0">
              <div class="text-base font-semibold mb-2"><%= hack.init_title %></div>
              <div class="font-normal text-gray-500 line-clamp-2"><%= hack.summary %></div>
            </div>
          </td>
          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.is_advice? ? "Advice" : "Hack" %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.popularity_categories.map(&:name).to_sentence %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.financial_topic_categories.map(&:name).to_sentence %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.audience_categories.map(&:name).to_sentence %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.horizon_categories.map(&:name).to_sentence %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.risk_categories.map(&:name).to_sentence %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.implementation_categories.map(&:name).to_sentence %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.financial_categories.map(&:name).to_sentence %></span>
            </div>
          </td>

          <td class="px-0 py-2 text-center ">
            <div class="inline-flex">
              <span class="bg-gray-100 text-gray-800 text-xs font-medium border border-gray-300 me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"> <%= hack.categories.knowledge_categories.map(&:name).to_sentence %></span>
            </div>
          </td>
        </tr>      
      <% end %>
      </tbody>
    </table>
    </div>

    <nav class="flex p-2 pl-6 px-4 items-end flex-column flex-wrap md:flex-row justify-between" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">
      Showing <span class="font-semibold text-gray-900 dark:text-white"><%= @pagy.from %>-<%= @pagy.to %></span> of <span class="font-semibold text-gray-900 dark:text-white"><%= @pagy.count %></span>
    </span>
      <ul class="pt-2 inline-flex -space-x-px rtl:space-x-reverse text-sm h-8 list-none">
        <li>
          <%= link_to 'Previous', hacks_path(page: @pagy.prev), { disabled: @pagy.prev.blank?, class: "flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" } %>
        </li>
        <% @pagy.pages.times do |page| %>
          <li>
            <%= link_to "#{page + 1}", hacks_path(page: page + 1), { class: "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"} %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Next', hacks_path(page: @pagy.next), { disabled: @pagy.next.blank?, class: "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" } %>
        </li>
      </ul>
    </nav>
  </div>
    
</div>
</div>

<script>
    function cleanFilters(formId) {
        const form = document.getElementById(formId);
        if (!form) {
            console.error(`Formulario con ID '${formId}' no encontrado.`);
            return;
        }

        Array.from(form.elements).forEach((element) => {
            if (element.tagName === "SELECT") {
                element.selectedIndex = 0;
            } else if (element.tagName === "INPUT") {
                if (element.type === "text" || element.type === "number" || element.type === "date") {
                    // Limpiar campos de texto, números y fechas
                    element.value = "";
                } else if (element.type === "checkbox" || element.type === "radio") {
                    // Deseleccionar checkboxes y radios
                    element.checked = false;
                }
            }
        });
         form.submit();
    }

</script>


