<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="flex h-full w-full">
    <div class="grid grid-cols-1 w-full">
      <div class="h-full py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 bg-hintsly text-white">
        <a href="<%= root_path %>" class="flex items-center justify-center w-full mb-4">
          <%#= image_tag "TG_logo1.svg", class: "w-48 h-48"%>
        </a>
        <ul class="space-y-2 font-medium list-none text-white px-3">
          <li>
            <a href="" class="flex text-white items-center p-2 rounded dark:text-white hover:bg-[#F19E4B] group">
              <svg class="w-5 h-5 text-gray-100 transition duration-100 dark:text-gray-100 group-hover:text-white dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
              </svg>
              <span class="ms-3"><%= t("menu.dashboard") %></span>
            </a>
          </li>
          <li>
            <a href="<%= sources_path %>" class="flex text-white items-center p-2 rounded dark:text-white hover:bg-[#F19E4B] group">
              <svg class="w-5 h-5 text-gray-100 transition duration-100 dark:text-gray-100 group-hover:text-white dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
              </svg>
              <span class="ms-3">Sources</span>
            </a>
          </li>
          <li>
            <a href="<%= hacks_path %>" class="flex text-white items-center p-2 rounded dark:text-white hover:bg-[#F19E4B] group">
              <svg class="w-5 h-5 text-gray-100 transition duration-100 dark:text-gray-100 group-hover:text-white dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
              </svg>
              <span class="ms-3">Hacks</span>
            </a>
          </li>
          <li>
            <a href="<%= superhacks_path %>" class="flex text-white items-center p-2 rounded dark:text-white hover:bg-[#F19E4B] group">
              <svg class="w-5 h-5 text-gray-100 transition duration-100 dark:text-gray-100 group-hover:text-white dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
              </svg>
              <span class="ms-3">Superhacks</span>
            </a>
          </li>
          <li>
            <div class="inline-flex items-center w-full text-gray-100 p-2 rounded dark:text-white hover:bg-black dark:bg-red group cursor-pointer">
              <svg class="w-5 h-5 text-gray-100 transition duration-100 dark:text-gray-100 group-hover:text-white dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
              </svg>
              <%= button_to t("menu.sign_out"), destroy_user_session_path, method: :delete, class: "ml-3", data:{turbo_method: :delete, turbo_confirm: "are_you_sure"} %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>